{% extends "admin_panel/base.html" %}
{% block title %}Configuración{% endblock %}
{% block header_title %}Configuración{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">Ventas</span>

      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="save_flags">

        <label>
          <input type="checkbox" name="permitir_sin_stock" {% if permitir_sin_stock %}checked{% endif %}>
          <span>Permitir vender sin stock</span>
        </label>

        <p></p>

        <label>
          <input type="checkbox" name="permitir_cambiar_precio_venta" {% if permitir_cambiar_precio_venta %}checked{% endif %}>
          <span>Permitir cambiar precio de venta</span>
        </label>

        <p></p>

        <button class="btn">Guardar</button>
      </form>

    </div>
  </div>
{% endblock %}
