{# templates/caja/_pagos_totales.html #}
{% load caja_extras %}


<div class="row" style="margin:0;">
  <div class="col s12" style="display:flex; gap:14px; flex-wrap:wrap; align-items:center;">
    <span class="grey-text text-darken-2">
      Total: <strong>${{ total_base|num_ar }}</strong>
    </span>

    <span class="grey-text text-darken-2">
      Recargos: <strong>${{ recargos|num_ar }}</strong>
    </span>

    <span class="grey-text text-darken-2">
      Total + Recargos: <strong>${{ total_cobrar|num_ar }}</strong>
    </span>

    <span class="grey-text text-darken-2">
      Pagado Sin Recargo: <strong>${{ pagado|num_ar }}</strong>
    </span>

    <span class="grey-text text-darken-2">
      Restante Sin recargo: <strong>${{ saldo|num_ar }}</strong>
    </span>
  </div>
</div>
